@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<p>
    <a asp-action="CreateView">Create New View</a>
</p>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @if (@ViewBag.Message != null)
    {
        <h2 class="alert alert-danger">@ViewBag.Message</h2>
    }

    <div class="container">
        <form asp-controller="View" asp-action="CreateView" method="post">
            <div class="form-group">
                <input type="checkbox" id="has_birthday" name="has_birthday" value="1" />

                <label for ></label>
            </div>
            <button class="btn-primary btn-success btn-block" type="submit">Login</button>
        </form>
    </div>
</body>
</html>
