@page
@model GreetMe_MVC.Forms.AddViewModel
@{
    ViewData["Title"] = "Add View";
}

<h1>Add View</h1>
<form method="post">
    <input type="text" asp-for"View.ViewName" placeholder="View Name" />
</form>
