@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="View" asp-action="Create" method="post">
   <p>Input name here:</p>
    <input type="text" name="Name" value="" /><br>

    <input type="checkbox" id="HasCurrentDatetime" name="HasCurrentDatetime" value="True">
    <label for="vehicle3"> Show calendar</label><br>

    <input type="checkbox" id="HasBirthday" name="HasBirthday" value="True">
    <label for="vehicle1"> Show birthday</label><br>

    <input type="checkbox" id="HasAnniversary" name="HasAnniversary" value="True">
    <label for="vehicle2"> Show anniversary</label><br>

    <input type="checkbox" id="HasMenu" name="HasMenu" value="True">
    <label for="vehicle3"> Show menu</label><br><br />

    <input type="submit" value="Submit">


</form>