@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="View" asp-action="Create" method="post">
    <input type="checkbox" id="vehicle1" name="DateOfBirth" value="True">
    <label for="vehicle1"> I have a bike</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="True">
    <label for="vehicle2"> I have a car</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="True">
    <label for="vehicle3"> I have a boat</label><br><br>
    <input type="submit" value="Submit">

</form>