@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="View" asp-action="Create" method="post">
   <p>Input name here:</p>
    <input type="text" name="ViewName" value="" /><br>

    <input type="checkbox" id="HasCurrentDatetime" name="HasCurrentDatetime" value="True">
    <label> Show Clock</label><br>

    <input type="checkbox" id="HasBirthday" name="HasBirthday" value="True">
    <label> Show Birthday</label><br>

    <input type="checkbox" id="HasAnniversary" name="HasAnniversary" value="True">
    <label> Show Anniversary</label><br>

    <input type="checkbox" id="HasMenu" name="HasMenu" value="True">
    <label> Show Menu</label><br><br />

    <input type="submit" value="Submit">


</form>