@model GreetMe_MVC.Models.BirthdayComponent



<div>
        <p>@Model.getData()</p>
</div>

<script>
    //Script er her kun for at kunne outcomment
/** I details, læs view op fra databasen
* I details,opbyg en viewmodel ud fra typen af view (fx. alle fødselsdage)
* Returner View() med den nybyggede viewmodel, den har jo data til fx. fødseldag
* Kun en type pr. skærm (fx. fødselsdage)
* I details.cshtml (i viewet) skal der være en if statement, som kigger på typen i modellen og viser en partial ud fra dette.
* if(type == "birthdays"){
*    Html.Partial ("_birthdays")
* };
*/
</script>