@{
    ViewData["Title"] = "Home Page";
}
@*Example Code*@
<div class="text-center">
    <h1 class="display-4">Welcome To GreetMe</h1>
    <p>A new and revolutionary component based screen sharing application.</p>
</div>
