@model IList<GreetMe_MVC.Models.IDisplayItem>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@foreach (var item in Model)
{
    //int todaysdate = int.Parse(DateTime.Today.ToString("yyyyMMdd"));
    //int bdayperson = int.Parse(@item.SubText);
    //int age = (todaysdate - bdayperson) / 10000;
    <p> Tillykke til @item.DisplayText, med de @item.SubText år.</p>
}
