@model GreetMe_MVC.Models.ComponentsViewModel

<script>
    const interval = setInterval(() => {
        window.location.reload();
    }, 5000);
</script>


@*window.timeout = 0;
document.addEventListener('mousemove', (event) => {
    console.log('MOVING');
    clearTimeout(window.timeout);
    window.timeout = setTimeout(() => {console.log('TIMER DONE')}, 1000)
    *@
@if (Model != null && Model.birthdayViewModels != null)
{
    <h2>Fødselsdage idag:</h2>
    foreach (var item in Model.birthdayViewModels)
    {
        <p> Tillykke til @item.FullName, med de 
        @{var age = DateTime.Today.Year - item.DateOfBirth.Year;}
        @age år!
        </p>
        <p></p>
        <p></p>
    }
}

@if (Model != null && Model.anniversaryViewModels != null)
{
    <h2>Jubilæumer idag</h2>
    foreach (var item in Model.anniversaryViewModels)
    {
        <p> Tillykke til @item.FullName, med de
            @{var yearsEmployed = DateTime.Today.Year - item.HiringDate.Year;}
            @yearsEmployed års jubileaum.
        </p>
    }
}
