@model IList<GreetMe_MVC.Models.IDisplayItem>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<script>
    const interval = setInterval(() => {
        window.location.reload();
    }, 5000);
</script>


@*window.timeout = 0;
document.addEventListener('mousemove', (event) => {
    console.log('MOVING');
    clearTimeout(window.timeout);
<<<<<<< HEAD
    window.timeout = setTimeout(() => {console.log('TIMER DONE')}, 1000)*@

=======
    window.timeout = setTimeout(() => {console.log('TIMER DONE')}, 1000)
    *@
>>>>>>> 380f0d5b5f6c46293bc335f63e5d81a05e60f0c7

@foreach (var item in Model)
{
    <p> Tillykke til @item.DisplayText, med de @item.SubText år.</p>
}
