@model IEnumerable<GreetMe_MVC.Models.ViewViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table" id="tableViews">
    <tr>
        <th scope="col">View Name</th>
        <th scope="col">Has Birthday</th>
        <th scope="col">Has Anniversary</th>
        <th></th>
    </tr>
    <tbody></tbody>
</table>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/viewlist.js"></script>
}